/**
 * A simple Flex wrapper
 **/

/**
 * 1.Properties for containers
 */

// 1.1 （★required）direction of (M)ain-axis
.fx-row {
  display: flex;
  flex-direction: row;
}

.fx-col {
  display: flex;
  flex-direction: column;
}

// 1.2 allow wrap?
.fx-wrap {
  flex-wrap: wrap;
}

.fx-nowrap {
  flex-wrap: nowrap;
}

// 1.3 alignment for (M)ain-axis
.fx-m-start {
  justify-content: flex-start;
}

.fx-m-center {
  justify-content: center;
}

.fx-m-end {
  justify-content: flex-end;
}

.fx-m-between {
  justify-content: space-between;
}

.fx-m-around {
  justify-content: space-around;
}

// 1.4 alignment for (C)ross-axis
.fx-c-stretch {
  align-items: stretch;
}

.fx-c-start {
  align-items: flex-start;
}

.fx-c-center {
  align-items: center;
}

.fx-c-end {
  align-items: flex-end;
}

.fx-c-baseline {
  align-items: baseline;
}

// 1.5 alignment for (C)ross-axis (L)ines (multiple)
.fx-cl-stretch {
  align-content: stretch;
}

.fx-cl-start {
  align-content: flex-start;
}

.fx-cl-center {
  align-content: center;
}

.fx-cl-end {
  align-content: flex-end;
}

.fx-cl-between {
  align-content: space-between;
}

.fx-cl-around {
  align-content: space-around;
}

/**
 * 2. Properties for child element
 */

// 2.1 (O)rder, (.fx-o-1 ~ .fx-o-6)
@for $i from 1 through 6 {
  .fx-o-#{$i} {
    order: $i;
  }
}

// 2.2 allocation of space, .fx-1 ~ .fx-6
@for $i from 0 through 6 {
  .fx-#{$i} {
    flex-basis: 0; // reset space already taken
    flex-grow: $i;
  }
}

// 2.3 alignmentof (S)elf inside a flexbox
.fx-s-stretch {
  align-self: stretch;
}

.fx-s-start {
  align-self: flex-start;
}

.fx-s-center {
  align-self: center;
}

.fx-s-end {
  align-self: flex-end;
}

.fx-s-baseline {
  align-self: baseline;
}

/**
 * 3. a few commonly used shortcuts!
 */

// 3.1 Centering
// children use row direction, vertical center
.fx-v-center {
  display: flex;
  align-items: center;
}

// children use row direction, horizontal center
.fx-h-center {
  display: flex;
  justify-content: center;
}

// children use row direction, vertical & horizontal center
.fx-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
